<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bookaholic</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>
    <div class="changePassContainer">
	<div class="page-title">Change Password</div>
	<form  class="createForm" method="POST" th:object="${passwordForm}"
		th:action="@{/changePassword}">
		<table>
			<tr>
				<td >Old Password <span class="need">*</span></td>
				<td><input class="createInput" type="password" required="required" th:field="*{oldPassword}" /></td>
				<td><span class="error-message"
					th:if="${#fields.hasErrors('oldPassword')}"
					th:errors="*{oldPassword}">..</span></td>
			</tr>
			<tr>
				<td>New Password <span class="need">*</span></td>
				<td><input class="createInput" type="password" required="required" th:field="*{newPassword}" /></td>
				<td><span class="error-message"
					th:if="${#fields.hasErrors('newPassword')}"
					th:errors="*{newPassword}">..</span></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input class="btnSubmit" type="submit" value="Submit" /> </td>
			</tr>
		</table>
	</form>
</div>
	<th:block th:include="/_footer"></th:block>

</body>
</html>
