<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bookaholic</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>

	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>

	<div align="center">

		<h2>Reset Your Password</h2>
		<p>Please enter your e-mail, we'll send a new random password
			to your inbox:</p>
		<div th:if="${message!= null}" class="error-message"
			th:utext="${message}"></div>
		<form id="resetForm" action="resetPassword" method="post">
			<table>
				<tr>
					<td>Email:</td>
					<td><input type="text" name="recipient" class="createInput"
						id="recipient"></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<button type="submit">Send me new password</button>
					</td>
				</tr>
			</table>
		</form>
	</div>

	<th:block th:include="/_footer"></th:block>

</body>
</html>
