<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Bookaholic</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>
	<form method="GET" th:object="${searchForm}" th:action="@{/search}" class="searchProduct">
		<input th:field="*{searchKeyword}" /class="searchForm" > <input  type="submit"
			value="Search" />
	</form>
	<div class="container-fluid" id="containproduct">
		<div class="row">
			<div class="col-sm-3"
				th:each="bookInfo : ${paginationBooks.list}">
				<div class="product-preview-container">

					<a th:href="@{|/bookInfo?bookId=${bookInfo.bookId}|}"><img
						class="product-image"
						th:src="@{|/bookImage?bookId=${bookInfo.bookId}|}" /></a>
					<div th:utext="${bookInfo.bookName}" class="bookname"></div>
					<div class="pricebook">
						<span
							th:utext="${#numbers.formatDecimal(bookInfo.bookPrice, 1, 'DEFAULT', 0, 'DEFAULT')}"></span>₫
					</div>


				</div>
			</div>




		</div>

	<br />
	<div class="page-navigator" th:if="${paginationBooks.totalPages > 1}">
		<th:block th:each="page : ${paginationBooks.navigationPages}">
			<a th:href="@{|/bookList?page=${page}|}" th:if="${page != -1}"
				class="nav-item" th:utext="${page}"></a>
			<span class="nav-item" th:if="${page == -1}"> ... </span>
		</th:block>
	</div>
	<th:block th:include="/_footer"></th:block>
</body>
</html>
