<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bookaholic</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>

	<div class="page-title">My Cart</div>

	<th:block
		th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
		<div class="subtitle">There is no items in Cart</div>

	</th:block>

	<th:block
		th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
		<form method="POST" th:object="${cartForm}"
			th:action="@{/shoppingCart}">
			<table style="width: 90%" class="table table-hover"
				id="shoppingcartreview">
				<tr>
					<th>Image</th>
					<th class="name-product">Book Name</th>
					<th class="price-product">Price</th>
					<th>Quantity</th>
					<th class="price-product">Subtotal</th>
					<th>Remove</th>


				</tr>
				<tr th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">

					<td class="tdImage"><img class="product-image-cart"
						th:src="@{|/bookImage?bookId=${cartLineInfo.bookInfo.bookId}|}" /></td>
					<td class="name-product"><input type="hidden"
						th:name="|cartLines[${varStatus.index}].bookInfo.bookId|"
						th:value="${cartLineInfo.bookInfo.bookId}" />
						<div th:utext="${cartLineInfo.bookInfo.bookName}"></div>
					<td class="price-product"><span
						th:utext="${#numbers.formatDecimal(cartLineInfo.bookInfo.bookPrice, 1, 'DEFAULT', 0, 'DEFAULT')}">
					</span></td>
					<td><input type="number" min ="0" th:name="|cartLines[${varStatus.index}].quantity|"
						th:value="${cartLineInfo.quantity}" /></td>
					<td class="price-product"><span class="subtotal"
						th:utext="${#numbers.formatDecimal(cartLineInfo.amount, 1, 'DEFAULT', 0, 'DEFAULT')}">
					</span></td>
					<td><a
						th:href="@{|/shoppingCartRemoveBook?bookId=${cartLineInfo.bookInfo.bookId}|}">
							<i class="fas fa-trash"></i>
					</a></td>

				</tr>
			</table>

			<div class="optionsInCart">
				<div style="clear: both"></div>
				<a class="navi-item" id="btnitem1"  th:href="@{/}"><i class="fas fa-angle-left"></i>Back</a> <input
					class="button-update-sc" type="submit" value="Update Quantity" />
				<a class="navi-item" id="btnitem2" th:href="@{/shoppingCartAccount}">Next<i class="fas fa-angle-right"></i></a>


			</div>





		</form>
	</th:block>


	<th:block th:include="/_footer"></th:block>

</body>
</html>
